.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 0.5rem 2rem;
    height: 70px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(0, 255, 149);
    position: sticky;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar-logo{
    font-size: 1rem;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
}

.navbar-logo-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.navbar-links{
    color: white;
    list-style: none;
    display: flex;
    gap: 1.5rem;

}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar-links li a:hover{
    color: rgb(0, 230, 142);
}

.navbar-btns{
    list-style: none;
    display: flex;
    gap: 1rem;
}

.login-btn{
    background-color: #196f3d;
    padding: 0.5rem 1rem;
    border-radius: 60px;
    transition: background-color 0.3s ease;
}

.login-btn:hover{
    background-color: #2e8b57;
    box-shadow: 0 0 20px #2e8b57;
}

.registro-btn{
    background-color: transparent;
    border: 2px solid #2e8b57;
    padding: 0.5rem 1rem;
    border-radius: 60px;
    color: rgb(255, 255, 255);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.registro-btn:hover{
    background-color: rgba(25, 111, 61, 0.356);
    box-shadow: 0 0 10px #196f3d;
    color: #2e8b57;
}




