*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  scrollbar-color: #196f3d #196f3d;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

body {
  background-image: url("/resources/fondo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.App {
  text-align: center;
}



